body {
  font-family: "Helvetica", sans-serif;
}

h2 {
  color: #7A0019;
}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
}
<nav>
  <ul>
    <li><a href=“https://www.twitter.com/Never_Sometimes">Tweets</a></li>
    <li><a href=“https://www.instagram.com/Neversometimestv">Instagram</a></li>
    <li><a href=“https://www.youtube.com/channel/UCMbRKbS-PdfcezWTFOFVw1w">YouTube</a></li>
    <li><a href=“https://www.instagram.com/Neversometimes_losingit">Losing It</a></li>
  </ul>
</nav>
